<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>   
        <link rel="stylesheet" href="../static/css/choice.css">
        <script src="https://kit.fontawesome.com/137954d1cc.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
 <body>
    <div class="container">
        <div class="item1 an cm">
            <img src="../image/group1.png">
            <p>BlogPod</p>
        </div>
        <div class="item2 an cm">
            <a href="#">Top Podcast</a>
        </div>
        <div class="item3 ip cm">
            <form action="">
                <input type="search" name="search" placeholder="Search Username">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="item4 an cm">
            <a href="#">Sign in</a>
        </div>
    </div>
 </body>   
</html>