<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1000000000">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../image/code.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../css/flex.css">
    <meta name="description" content="My website">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >
</head>
<body>
    <div class="flex-container">
        <img src="../image/code.png">
        <img src="../image/full1.png">
        <img src="../image/code.png">
        <img src="../image/code.png">
        <img src="../image/big.png">
        <img src="../image/big.png">
        <img src="../image/head.png"> 
        <img src="../image/code.png">
        <img src="../image/full1.png">
        <img src="../image/code.png">
        <img src="../image/code.png">
        <img src="../image/big.png">
        <img src="../image/big.png">
        <img src="../image/head.png"> 
   </div>
</body>
</html>