<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlogPod : Home </title>
        <link href="../css/homestyle.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../image/group1.png" size="32*32">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Lucky Gautam</h1>
        </div>
    </body>
</html>