<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1000000000">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../image/code.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="description" content="My website">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >
</head>
<body>
    <h1>Blog & Podcast</h1>
    <p>Hello</p>
    <ol>
        <li>List 1</li>
        <li>List 2</li>
        <li>List 3</li>
    </ol>
    <a href="#">Google</a>
    <h1>This is to see difference .</h1>
    <a href="#">Facebook</a>
    <h2>This is Heading Tag.</h2>
    <p>This is Paragraph Tag.</p>
    <h2>
        <p>This is Paragraph.</p>
    </h2>
    <img src="#" id="image">
<ta

</body>

</html>
