<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MDN Practice</title>
        <link href="../css/mdn.css" rel="stylesheet">
    </head>
    <body>
        <h1 id="name">Jane Doe</h1>
        <h2 id="profession">Web Developer</h2>
        <article>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consequatur optio praesentium voluptas ea a iusto beatae expedita qui eius odio, nam mollitia fugit eaque dolor quisquam ad quaerat illo.Delectus error, labore molestiae dolorum ex pariatur sequi aliquid suscipit. Velit vel voluptatum eaque possimus asperiores aperiam quis consequatur consequuntur eos itaque. Ipsam sed neque laborum amet, iste nemo repudiandae!</h2>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat consequatur sapiente, repellendus, est eum, beatae explicabo commodi maxime omnis iste itaque maiores. Maiores doloremque quidem nihil itaque ex numquam quae?Aliquam velit soluta voluptates deserunt. Cum quaerat quos ipsam explicabo optio. Quod quasi optio aut impedit expedita, deserunt provident placeat quibusdam repellendus exercitationem facilis tempore repellat illo quam asperiores? Sequi!</h2>
            <i>Contact Information</i>
            <ul>
                <li>Email:<span id="email">Jane@example.com</span></li>
                <li>Web:<span id="web">http://example.com</span></li>
                <li>Tel:123 45678</li>
            </ul>
        </article>
        <h1>Below is presence & value selector.</h1>
        <h3 id="first">This is HEADING 3</h3>
        <h3 id="second">This is another Heading.</h3>
        <h1>This is when if attribute contain two class which is seperated by space.</h1>
        <h3 class="special">Hello There</h3>
        <h3 class="single special">Hii There</h3>
    </body>
    <article>
        <p>Para 1
            include1
        </p>
        <p>Para 2
            include2
        </p>
        <p>Para 3
            include 3
        </p>
    </article>
    <h4>
        Hello There,Hii There
    </h4>
</html>
