<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Picture Grid</title>
        <link rel="stylesheet" href="../css/picgrid.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="pic-container">
            <div class="normal"><img src="../image/picone.jpg" ></div class="">
            <div class="horizontal"><img src="../image/pictwo.jpg" ></div class="">
            <div class="vertical"><img src="../image/picthree.jpg" ></div class="">
            <div class="normal"><img src="../image/picfour.jpg" ></div class="">
            <div class="horizontal"><img src="../image/picfive.jpg" ></div class="">
            <div class="big"><img src="../image/code.png" ></div class="">
            <div class="vertical"><img src="../image/picone.jpg" ></div class="">
            <div class="normal"><img src="../image/pictwo.jpg" ></div class="">
            <div class="horizontal"><img src="../image/picthree.jpg" ></div class="">
            <div class="normal"><img src="../image/picfour.jpg" ></div class="">
            <div class="vertical"><img src="../image/picfive.jpg" ></div class="">
            <div class="big"><img src="../image/code.png" ></div class="">
            <div class="nomal"><img src="../image/picone.jpg" ></div class="">
            <div class="vertical"><img src="../image/pictwo.jpg" ></div class="">
            <div class="normal"><img src="../image/picthree.jpg" ></div class="">
            <div class="horizontal"><img src="../image/picfour.jpg" ></div class="">
            <div class="normal"><img src="../image/picfive.jpg" ></div class="">
            <div class="normal"><img src="../image/code.png" ></div class="">
            <div class="vertical"><img src="../image/picone.jpg" ></div class="">
            <div class="normal"><img src="../image/pictwo.jpg" ></div class="">
            <div class="big"><img src="../image/picthree.jpg" ></div class="">
            <div class="horizontal"><img src="../image/picfour.jpg" ></div class="">
            <div class="normal"><img src="../image/picfive.jpg" ></div class="">
            <div class="vertical"><img src="../image/code.png" ></div class="">
          
        </div class="">
    </body>
</html>