{% extends 'practice.html' %}
    
{% block content %}
<div class="content grid-item2">
   <div class="is-flex">
      <div class="is-item1">
         <img class="main-logo" src="../static/lucky1.jpg" alt="user image">
         <h2>Social Account</h2>
         <h4 class="is-mg-0">Facebook</h4>
         <a href="#" class="is-font-sm is-mg-0" target="_blank">https://getbootstrap.com/docs/5.0/helpers</a>
         <div class="item1-section1">
            <h4 class="is-mg-0">Genre</h4>
            <button>Genre1</button>
            <button>Genre2</button>
            <button>Genre3</button>
            <button>Genre4</button>
         </div>
         <h4 class="is-info info-btn" >Followers <span class="count-num">5</span> </h4>
      </div>
      <div class="is-item2">
         <section class="pro-section">
            <h1 class="name-title">Jeremy Rose</h1>
            <h6 class="sub-title">Product Designer</h6>
         </section>
         <section class="info-section is-bd-top ">
            <h1>Personal Information</h1>
            <h4>E-mail: <span class="muted-text">devendergautam666@gmail.com </span> </h4>
            <h4>Site: <span class="muted-text"><a href="https://www.google.com/" target="_blank">www.google.com</a></span></h4>
         </section>
         <section class="about-section is-bd-top">
            <h1>Few Things about you</h1>
            <article>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolores, ex voluptas ad consequatur sunt et excepturi tempore ut sequi enim ipsum suscipit veritatis repudiandae delectus distinctio est molestiae illum!
              
               
            </article>
         </section>
      </div>
   </div>
</div>
{% endblock %}