<!DOCTYPE html>
<html>
    <head>
        <meta name="content" description="">
        <title>Sign up </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="{{url_for('static',filename="css/signup.css")}}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Google+Sans:400,500|Product+Sans:400&lang=en" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"
    </head>
<body>
    <section class="main-section is-flex">
        <div class="form-container is-flex">
            <section class="form-section">
                
                    <ol >
                        <li><h1 class="tag-title">Sign up</h1></li>
                        <li><h1 class="tag-title">Sign in</h1></li>
                    </ol>
                
                <form action="">
                    <label for="">Name</label>
                    <input type="text" name="name" id="name" />
                    <label for="">Username</label>
                    <input type="text" name="username" id="username">
                    <label for="">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="">Password</label>
                    <input type="password" name="password" id="password">
                    <input type="checkbox" name="remember me" id="remember">
                    <label class="remember" for="remember">Remember me</label>
                    <input type="submit" value="Create Account">
                </form>
            </section>
            <section class="content-section">
                <img src="../static/pic7.jpg" class="content-img">
                <main class="main-title">
                    <h1>BlogPod</h1>
                    <h3>Your idea is ours we share it.</h3>
                </main>
            </section>
        </div>
    </section>
</body>
<!-- thwarted, swamp  --> 


</html>
