<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlogPod: Sign Up</title>
        <link rel="stylesheet" href="../css/signup1.css">
        <script src="https://kit.fontawesome.com/137954d1cc.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="flex-container">
            <div class="f1">
                <span>
                    <img id="img1" src="../image/group1.png" alt="Brand-Image">
                    <!-- <p>BlogPod</p> -->
                </span>
            </div>
            <div class="f2">
                <div class="form-data">
                    <h1>Connect with BlogPod</h1>
                    <form>
                        <label class="l1 i1" for="name">Name</label>
                        <input id="name"  type="text" name="Name" placeholder="Name" required>
                        <label for="email">Email</label>
                        <input type="Email" name="email" id="email" placeholder="Email" required>
                        <label for="otp">OTP</label>
                        <input type="text" name="otp" id="otp" placeholder="OTP">
                        <label class="l1 i1" for="pswd">Password</label>
                        <input id="pswd" type="password" name="password" placeholder="Password">
                        <input type="submit" value="Get Authorize">
                    </form>
                    <div class="api-details">
                        <p>Or Connect With</p>
                        <i class="fab fa-google"></i>
                        <i class="fab fa-facebook"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>