<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlogPod: Sign in</title>
        <link href="../css/signin.css" rel="stylesheet">
        <link rel="icon" href="../image/group1.png" class="file-handler" type="image/gif"  size="32*32">
    </head>
    <body>
        <div class="heading hash12">
            <a id="toptitle" href="logo.html" target="_parent">BLOGS&PODCAST</a>
        </div>
        <div class="box-container hash12">
            <form>
                <div class="container2">
                    <h2 id="head_1">Sign in to convey your thoughts</h2>
                    <label for="email" >Email</label>
                    <input id="email" type="email" name="email" placeholder="Email" required><br>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" placeholder="Password" required><br>
                    <div class="forget">
                        <a href="#" target="_blank">Forgot Password ?</a>
                    </div>
                    <input class="file-handler" type="submit" value="Sign In ">
                </div>
                
            </form>
        </div>
        <div class="another_link hash12">
            <p>Don't have an account?<a href="signup.html">Sign up</a></p>
        </div>
    </body>
</html>