<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BlogPod: Home</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='top.css')}}"> 
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
        <!-- <link rel="shortcut icon" href=../image/code.png" type="image/x-icon"/> -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="icon" href="../static/sp1.png" type="image/gif" sizes="32x32" >
        <script src="https://kit.fontawesome.com/137954d1cc.js" crossorigin="anonymous"></script>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
<body>

<!-- Notification Alert -->
<!-- <div class="banner">
    <a>We are currently working on this website. 
      Let us know if there is any bug or error.
    </a>
</div> -->


<!-- Navbar -->

<div class="flex1-container ">
    <div class="flex1-items brandname">
        <a href="#">Podcast <span>Genre</span></a>
    </div>
    <div class="flex1-items bottom ">
        <a href="#">Tech</a>
    </div>
    <div class="flex1-items bottom ">
        <a href="#">Business</a>
    </div>
    <div class="flex1-items bottom ">
        <a href="#">Motivational</a>
    </div>
    <div class="flex1-items bottom ">
        <a href="#">Others</a>
    </div>
    <div class="flex1-items images">
        <img id="image" src="../image/code.png" width="30px" height="30px" >
    </div>
    <div class="flex1-items ">
        <a href="#">Sign in </a>
    </div>
</div>

<div class="wrapper">
    <h1 class="head1">Tech Podcast</h1>
    <div class="music-container">
        <div class="music-box">
            <p>Title1</p>
            <p>Image</p>
            <p>Title1</p>
            <p>Image</p>
        </div>
        <div class="music-box">
            <p>Title1</p>
        </div>
        <div class="music-box">
            <p>Title1</p>
        </div>
        <div class="music-box">
            <p>Title1</p>
        </div>
        <div class="music-box">
            <p>Title1</p>
        </div>
        <div class="music-box">
            <p>Title1</p>
        </div>
        <div class="music-box">
            <p>Title1</p>
        </div>
        <div class="music-box">
            <p>Title1</p>
        </div>
    </div>
</div>







<!-- Footer -->
<!-- <footer class="footer-container">
    <div class="footer-content1">
        <img src="../image/group1.png" alt="BrandLogo" id="brand-logo">
        <a id="brandname">BlogPod | <a id="sm-df">Thought Sharing Platform</a></a>
        <a id="about"><a id="df-color">MADE BY</a> The Unknown Mediocre</a>
        <a id="sm-link">
            <a href="#"><img class="social-media" src="../image/facebook.png"></a> 
            <a href="http://www.google.com"><img class="social-media" src="../image/google.png"></a>
            <a href="#"><img class="social-media" src="../image/twitter.png"></a>
        </a>
    </div>
    <div class="footer-content2">
        <ol class="list-items">
            <a><a href="#">Privacy & Terms</a></a>
            <a><a href="#">FAQ</a></a>
            <a><a href="#">Top Podcaster</a></a>
            <a><a href="#">Reason BlogPod</a></a>
        </ol>
    </div>
</footer> -->


<script src="../javascript/top.js"></script>


</body>
</html>