<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link href="../css/userpage.css" rel="stylesheet" > 
    </head>
    <body>
        <div class="container">
            <img src="../image/code.png" alt="userimage">
            <h1>{{title}} Blogs</h1>
            <h2>50 Likes</h2>
            <article>
                <p>This is all about what you're passionate.I like to write blogs.
                    which gives me courage to strive. So i'm Self-Obsessed.
                    I'm a Web Developer. I spend my most of the time doing those
                     thing
                    which i like most.   </p>
            </article>
        </div>
    </body>
</html>