<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/user.css">
        <title>BlogPod: User</title>
        <link rel="icon" href="../image/group1.png" size="32*32">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-item1">
                <img src="../image/code.png">
                <h1>Top Podcast</h1>
                <h1>Lucky</h1>
                <p>lucky52.bhaman@gmail.com</p>
                <h1>Stars</h1>
                <!-- <h1>Change password</h1> -->
                <a href="#" target="_parent">Change Password</a>
            </div>
            <!-- <div class="grid-item2">
                <h1>BOx2
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi vero facere, est nam impedit et dicta tempore commodi, quis mollitia totam non porro recusandae asperiores consectetur delectus. Earum alias facilis amet esse error corporis sit non odio facere sint? Nisi quos deserunt quaerat pariatur delectus similique odio itaque totam molestias!
                </h1>
            </div> -->
            <div class="grid-item3">
                <h1>Your Blogs
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sit sint esse exercitationem dicta ipsam, praesentium, odit, officia eaque rerum aliquid odio. A nisi totam vitae iste, quis dolores labore possimus optio alias voluptatibus, eveniet ipsum aliquid pariatur? Impedit ipsum ipsam quisquam cumque nulla quo pariatur at aliquid debitis consectetur.
                </h1>
            </div> 
            <!-- <div class="grid-item4">
                <h1>Your Podcast</h1>
            </div> -->
        </div>
    </body>
</html>